
* {
    margin: 0;
    padding: 0;
}

.inline{
    font-size:2em;
    text-align: center;
    display: inline-flex;
    color:antiquewhite;
    background-color:darkblue;
    padding: 2%;
    flex:1;
}


html {
    background-color:rgb(156, 164, 173);
    display: flex;
}

header {
    background-color:darkblue;
    flex: 0, 80px;
    margin:0;
}

header > p {
    font-size:3em;
    text-align: center;
    color:antiquewhite;
}



menu {
    background-color: darkblue;
}


body {
    width:100%;
    height:100vh;
}

main {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


form {
    width:50%;
    margin:auto;

}


table {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex:1;
    border:2px solid black;
    border-collapse:collapse;
    width:75%;
}

tr {
    padding: 10%;
    border:1px solid black;

}

td, th{
    padding:2%;
    text-align: center;
    border:1px solid black;

}




footer {
    background-color: darkblue ;
    position:absolute;
    bottom:0;
    width:100%;
    color:antiquewhite;
    font-size:1.5em;
    flex:0,30px;
    flex-direction: row;
}